

a {
    cursor: pointer;
}

a:disabled {
    cursor: not-allowed;
}

nav {
    border-bottom: solid 0px #000;
}

.dropdown-menu {
  margin-top: -0.6rem;
  z-index: -10;
  font-size: .9rem;
}

.nav-link  {
    padding-bottom:0 !important;
}